<label class="mt-5"></label>

<button type="submit" class="btn btn-outline-white botonNuevo float-right" data-toggle="modal" data-target="#asignacion" style="margin-top: 120px">
    <i class="fas fa-plus-circle"></i>--- Asignar Grado/Curso
  </button>

<div style="margin-top: 75px; ">

    <div class="mt-3" style="margin-bottom: 100px; float: left; width: 60%; background-color: white">

         <div class="form-group row mt-3 float-right mr-5">
            <div class="inputWithIcon inputIconBg col-sm-12 float-left">
              <input type="text" class="form-control" name="filter_asignacion_carreras" placeholder="Buscar por grado"
                [(ngModel)]="filter_asignacion_carreras">
              <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>
            </div>
          </div> 

          <table class="table" style="margin-top: 90px;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Jornada</th>
                  <th scope="col">Seccion</th>
                  <th scope="col">Grado</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Instructores</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-light" *ngFor="let asignacionCarreras of asignacionCarrerasService.asignacionesCarreras | asignacionCarreras:filter_asignacion_carreras">
                  <td align="center"><h6>{{ asignacionCarreras.jornada }}</h6></td>
                  <td align="center"><h6>{{ asignacionCarreras.seccion }}</h6></td>
                  <td align="center"><h6>{{ asignacionCarreras.grado }}</h6></td>
                  <td align="center"><h6 >{{ asignacionCarreras.carrera }}</h6></td>
                  <td align="center"><h6>{{ asignacionCarreras.instructores }}</h6></td>
                  <td align="center" style="vertical-align:middle;">
                     <a (click)="editAsignacionCarreras(asignacionCarreras)" data-toggle="modal" data-target="#asignacion"><i
                        class="fas fa-edit"></i></a> 
      
                    <a (click)="deleteAsignacionCarreras(asignacionCarreras._id)"><i class="fas fa-trash-alt"></i></a>
      
                    <a (click)="getAsignacionCarrera(asignacionCarreras)" data-toggle="modal" data-target="#detalleCarrera"><i class="fas fa-eye"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
    
    </div>

    <div style="margin-bottom: 100px; float: right; width:40%;background-color: white">

        <div class="form-group row mt-3 float-right mr-5">
            <div class="inputWithIcon inputIconBg col-sm-12 float-left">
              <input type="text" class="form-control" name="filter_asignacion_cursos" placeholder="Buscar por curso"
                [(ngModel)]="filter_asignacion_cursos">
              <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>
            </div>
          </div>

          <table class="table" >
              <thead class="bg-secondary" style="color: white; font-weight: 700px">
                <tr>
                  <th scope="col">Jornada</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Instructores</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-light" *ngFor="let asignacionCursos of asignacionCursosService.asignacionesCursos | asignacionCursos: filter_asignacion_cursos">
                  <td align="center"><h6>{{ asignacionCursos.jornada }}</h6></td>
                  <td align="center"><h6>{{ asignacionCursos.curso }}</h6></td>
                  <td align="center"><h6>{{ asignacionCursos.instructores }}</h6></td>
                  <td align="center">
                    <a (click)="editAsignacionCursos(asignacionCursos)" data-toggle="modal" data-target="#asignacion"><i
                        class="fas fa-edit"></i></a> 
      
                    <a (click)="deleteAsignacionCursos(asignacionCursos._id)"><i class="fas fa-trash-alt"></i></a>
      
                    <a (click)="getASignacionCurso(asignacionCursos)" data-toggle="modal" data-target="#detalleCurso"><i class="fas fa-eye"></i></a>
                  </td>
                </tr>
              </tbody>
      
            </table>
    </div>
  </div> 

<div class="container">
    <div class="row">
      <div class="col s12">

        <div class="modal fade" id="asignacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <label class="col-sm-12 bg-primary p-2" style="color:white;"></label>

              <div class="containar pt-2 pb-2" style="padding-left: 200px">
                <div class="custom-control custom-radio d-inline-block px-5">
                  <button type="button" class="btn btn-outline-primary" (click)="moCarrera()">Grado</button>
                </div>
                <div class="custom-control custom-radio d-inline-block px-5">
                  <button type="button" class="btn btn-outline-primary" (click)="moCurso()">Curso</button>
                </div>
                <button type="button" class="close px-3" #btnClose data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <label class="col-sm-12 bg-primary p-2" style="color:white;"></label>

              <div class="modal-header" *ngIf="asignarCarrera">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ !this.asignacionCarrerasService.selectedAsignacionCarreras._id ? 'Nueva Asignación de Grado' : 'Actualizar asignación de Grado' }}
                </h5>
                
              </div>

              <div class="modal-header" *ngIf="asignarCurso">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ !this.asignacionCursosService.selectedAsignacionCursos._id ? 'Nueva Asignación de Curso' : 'Actualizar asignación de Curso' }}
                </h5>

              </div>

              <div class="modal-body" *ngIf="asignarCarrera">
                <div class="card">
                  <div class="card-content">
                    <form class="was-validated" #asignacionCarrerasForm="ngForm"
                      (ngSubmit)="addAsignacionCarreras(asignacionCarrerasForm)" autocomplete="off">
                      <h4></h4>

                      <input type="hidden" name="_id" #_id="ngModel"
                        [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras._id">

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-12 bg-primary p-2" style="color:white;"></label>

                        <div class="form-group row mt-3">
                            <label class="col-sm-1"></label>
                            <label class="col-sm-3 col-form-label py-3">Sección:</label>
                            <div name="seccion" class="inputWithIcon inputIconBg col-sm-7">
                              <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="seccion"
                                id="seccion" #seccion="ngModel"
                                [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.seccion" required>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                                <option>E</option>
                                <option>F</option>
                                <option>G</option>
                                <option>H</option>
                              </select>
                              <i class="fas fa-object-group fa-2x mx-2" aria-hidden="true"></i>
                              <div class="invalid-feedback">
                                Sección obligatorio.
                              </div>
                              <div class="valid-feedback">
                                Hecho.
                              </div>
                            </div>
                          </div>

                          <div class="form-group row mt-3">
                              <label class="col-sm-1"></label>
                              <label class="col-sm-3 col-form-label py-3">Grado:</label>
                              <div name="grado" class="inputWithIcon inputIconBg col-sm-7">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="grado"
                                  id="grado" #grado="ngModel"
                                  [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.grado" required>
                                  <option>PRIMERO</option>
                                  <option>SEGUNDO</option>
                                  <option>TERCERO</option>
                                  <option>CUARTO</option>
                                  <option>QUINTO</option>
                                  <option>SEXTO</option>
                                </select>
                                <i class="fas fa-th fa-2x mx-2" aria-hidden="true"></i>
                                <div class="invalid-feedback">
                                  Grado obligatorio.
                                </div>
                                <div class="valid-feedback">
                                  Hecho.
                                </div>
                              </div>
                            </div>

                        <div class="form-group row mt-3" *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'CUARTO'">
                          <label class="col-sm-1"></label>
                          <label class="col-sm-3 col-form-label py-3">Jornada:</label>
                          <div name="jornada" class="inputWithIcon inputIconBg col-sm-7">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="jornada"
                              id="jornada" #jornada="ngModel"
                              [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.jornada" required>
                              <option>MATUTINA</option>
                              <option>VESPERTINA</option>
                            </select>
                            <i class="fas fa-sun fa-2x mx-2" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Jornada obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'QUINTO'">
                            <label class="col-sm-1"></label>
                            <label class="col-sm-3 col-form-label py-3">Jornada:</label>
                            <div name="jornada" class="inputWithIcon inputIconBg col-sm-7">
                              <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="jornada"
                                id="jornada" #jornada="ngModel"
                                [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.jornada" required>
                                <option>MATUTINA</option>
                                <option>VESPERTINA</option>
                              </select>
                              <i class="fas fa-sun fa-2x mx-2" aria-hidden="true"></i>
                              <div class="invalid-feedback">
                                Jornada obligatorio.
                              </div>
                              <div class="valid-feedback">
                                Hecho.
                              </div>
                            </div>
                          </div>

                          <div class="form-group row mt-3" *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'SEXTO'">
                              <label class="col-sm-1"></label>
                              <label class="col-sm-3 col-form-label py-3">Jornada:</label>
                              <div name="jornada" class="inputWithIcon inputIconBg col-sm-7">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="jornada"
                                  id="jornada" #jornada="ngModel"
                                  [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.jornada" required>
                                  <option>MATUTINA</option>
                                  <option>VESPERTINA</option>
                                </select>
                                <i class="fas fa-sun fa-2x mx-2" aria-hidden="true"></i>
                                <div class="invalid-feedback">
                                  Jornada obligatorio.
                                </div>
                                <div class="valid-feedback">
                                  Hecho.
                                </div>
                              </div>
                            </div>

                        <div *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'CUARTO'" class="form-group row mt-3">
                          <label class="col-sm-1"></label>
                          <label class="col-sm-3 col-form-label py-3">Carrera:</label>
                          <div name="carrera" class="inputWithIcon inputIconBg col-sm-7">
                            <select class="custom-select mr-sm-2" id="carrera" name="carrera"
                               #carrera="ngModel"
                              [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.carrera" required>
                              <option value="" disabled></option>
                              <option *ngFor="let carrera of carreraService.carreras">{{ carrera.nombre_carrera }} </option>
                            </select>
                            <i class="fas fa-network-wired  fa-2x mx-2" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Carrera obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'QUINTO'" class="form-group row mt-3">
                            <label class="col-sm-1"></label>
                            <label class="col-sm-3 col-form-label py-3">Carrera:</label>
                            <div name="carrera" class="inputWithIcon inputIconBg col-sm-7">
                              <select class="custom-select mr-sm-2" id="carrera" name="carrera"
                                 #carrera="ngModel"
                                [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.carrera" required>
                                <option value="" disabled></option>
                                <option *ngFor="let carrera of carreraService.carreras">{{ carrera.nombre_carrera }} </option>
                              </select>
                              <i class="fas fa-network-wired  fa-2x mx-2" aria-hidden="true"></i>
                              <div class="invalid-feedback">
                                Carrera obligatorio.
                              </div>
                              <div class="valid-feedback">
                                Hecho.
                              </div>
                            </div>
                          </div>

                          <div *ngIf="this.asignacionCarrerasService.selectedAsignacionCarreras.grado === 'SEXTO'" class="form-group row mt-3">
                              <label class="col-sm-1"></label>
                              <label class="col-sm-3 col-form-label py-3">Carrera:</label>
                              <div name="carrera" class="inputWithIcon inputIconBg col-sm-7">
                                <select class="custom-select mr-sm-2" id="carrera" name="carrera"
                                   #carrera="ngModel"
                                  [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.carrera" required>
                                  <option value="" disabled></option>
                                  <option *ngFor="let carrera of carreraService.carreras">{{ carrera.nombre_carrera }} </option>
                                </select>
                                <i class="fas fa-network-wired  fa-2x mx-2" aria-hidden="true"></i>
                                <div class="invalid-feedback">
                                  Carrera obligatorio.
                                </div>
                                <div class="valid-feedback">
                                  Hecho.
                                </div>
                              </div>
                            </div>

                        <div class="form-group row mt-3">
                            <label class="col-sm-1"></label>
                            <label class="col-sm-3 col-form-label">Buscar Instructores:</label>
                            <div class="inputWithIcon inputIconBg col-sm-7">
                              <input type="text" class="form-control" name="filter_instructor_carrera" placeholder="Buscar instructor"
                                [(ngModel)]="filter_instructor_carrera">
                              <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>
          
                              <div class="list-group">
                                  <button *ngFor="let instructor of instructorService.instructores | asignarInstructor:filter_instructor_carrera" type="button" class="list-group-item list-group-item-action agregar fas fa-chalkboard-teacher" (click)="pasarInstructorCarrera(instructor)" > --- {{ instructor.persona }}</button>
                                </div>


                            </div>
                          </div>

                          <div class="form-group row mt-3" hidden>
                              <div class="inputWithIcon inputIconBg col-sm-12">
                                <pre class="code-preview form-control"
                                  [(ngModel)]="asignacionCarrerasService.selectedAsignacionCarreras.instructores" name="instructores"
                                  #instructores="ngModel">instructores: {{ instructoresArrayCarrera | json }}</pre>
                              </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-1"></label>
                                <label class="col-sm-3 col-form-label">Asignar Instructor:</label>
                                <div class="inputWithIcon inputIconBg col-sm-6">
                                  <input type="text" class="form-control" [(ngModel)]="instructorInputCarrera" name="instructorInputCarrera" readonly>
                                  <i class="fas fa-chalkboard-teacher fa-2x mx-3" aria-hidden="true"></i>
              
                                  <button type="button" class="btn mb-2" tooltip="Remover." *ngFor="let instructor of instructoresArrayCarrera"
                                    placement="top" style="background: gray; color: white" (click)="quitarInstructorCarrera(instructor)">
                                    {{instructor}}
                                  </button>
              
                                </div>
                                <div class="col-sm-1 py-1 px-1">
                                  <button type="button" class="btn btn-outline-dark" (click)="seleccionarInstructorCarrera()"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
                                </div>
                              </div>
                      </div>

                      <div class="form-group row center">
                        <label class="col-sm-2"></label>
                        <button type="submit" class="btn btn-dark botonGuardar col-sm-8">Guardar <i
                            class="fas fa-save"></i>
                          <p></p>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="modal-body" *ngIf="asignarCurso">
                <div class="card">
                  <div class="card-content">
                    <form class="was-validated" #asignacionCursosForm="ngForm"
                      (ngSubmit)="addAsignacionCursos(asignacionCursosForm)" autocomplete="off">
                      <h4></h4>

                      <input type="hidden" name="_id" #_id="ngModel"
                        [(ngModel)]="asignacionCursosService.selectedAsignacionCursos._id">

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-12 bg-primary p-2" style="color:white;"></label>

                        <div class="form-group row mt-3">
                          <label class="col-sm-1"></label>
                          <label class="col-sm-3 col-form-label py-3">Jornada:</label>
                          <div name="jornada" class="inputWithIcon inputIconBg col-sm-7">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="jornada"
                              id="jornada" #jornada="ngModel"
                              [(ngModel)]="asignacionCursosService.selectedAsignacionCursos.jornada" required>
                              <option>MATUTINA</option>
                              <option>VESPERTINA</option>
                            </select>
                            <i class="fas fa-sun fa-2x mx-2" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Jornada obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label class="col-sm-1"></label>
                            <label class="col-sm-3 col-form-label py-3">Curso:</label>
                            <div name="curso" class="inputWithIcon inputIconBg col-sm-7">
                              <select class="custom-select mr-sm-2" id="curso" name="curso"
                                 #curso="ngModel"
                                [(ngModel)]="asignacionCursosService.selectedAsignacionCursos.curso" required>
                                <option value="" disabled></option>
                                <option *ngFor="let curso of cursoService.cursos">{{ curso.nombre_curso }} </option>
                              </select>
                              <i class="fas fa-book  fa-2x mx-2" aria-hidden="true"></i>
                              <div class="invalid-feedback">
                                Curso obligatorio.
                              </div>
                              <div class="valid-feedback">
                                Hecho.
                              </div>
                            </div>
                          </div>

                          <div class="form-group row mt-3">
                              <label class="col-sm-1"></label>
                              <label class="col-sm-3 col-form-label">Buscar Instructores:</label>
                              <div class="inputWithIcon inputIconBg col-sm-7">
                                <input type="text" class="form-control" name="filter_instructor_curso" placeholder="Buscar instructor"
                                  [(ngModel)]="filter_instructor_curso">
                                <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>

                                <div class="list-group">
                                    <button  *ngFor="let instructor of instructorService.instructores | asignarInstructor:filter_instructor_curso" type="button" class="list-group-item list-group-item-action agregar fas fa-chalkboard-teacher" (click)="pasarInstructorCurso(instructor)" > --- {{ instructor.persona }}</button>
                                  </div>
                              </div>
                            </div>
  
                            <div class="form-group row mt-3" hidden>
                                <div class="inputWithIcon inputIconBg col-sm-12">
                                  <pre class="code-preview form-control"
                                    [(ngModel)]="asignacionCursosService.selectedAsignacionCursos.instructores" name="instructores"
                                    #instructores="ngModel">instructores: {{ instructoresArrayCurso | json }}</pre>
                                </div>
                              </div>
  
                              <div class="form-group row mt-3">
                                  <label class="col-sm-1"></label>
                                  <label class="col-sm-3 col-form-label">Asignar Instructor:</label>
                                  <div class="inputWithIcon inputIconBg col-sm-6">
                                    <input type="text" class="form-control" [(ngModel)]="instructorInputCurso" name="instructorInputCurso" readonly>
                                    <i class="fas fa-chalkboard-teacher fa-2x mx-3" aria-hidden="true"></i>
                
                                    <button type="button" class="btn mb-2" tooltip="Remover." *ngFor="let instructor of instructoresArrayCurso"
                                      placement="top" style="background: gray; color: white" (click)="quitarInstructorcurso(instructor)">
                                      {{instructor}}
                                    </button>
                
                                  </div>
                                  <div class="col-sm-1 py-1 px-1">
                                    <button type="button" class="btn btn-outline-dark" (click)="seleccionarInstructorCurso()"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
                                  </div>
                                </div>
     
                      </div>

                      <div class="form-group row center">
                        <label class="col-sm-2"></label>
                        <button type="submit" class="btn btn-dark botonGuardar col-sm-8">Guardar <i
                            class="fas fa-save"></i>
                          <p></p>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col s12">
  
          <div class="modal fade" id="detalleCarrera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Detalle de Grado
                  </h5>
                  <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
  
                 <div class="modal-body">
  
                  <div class="card mb-3" style="max-width: 800px;">
                    <div class="row no-gutters">
                      <div class="col-md-4 my-auto">
                        <img *ngIf="this.detalle_grado_carrera === 'ELECTRICIDAD'"
                          src="https://www.flaticon.es/premium-icon/icons/svg/1044/1044923.svg"
                          class="card-img">
                        <img *ngIf="this.detalle_grado_carrera === 'INFORMÁTICA'"
                          src="https://www.i-blue.es/wp-content/uploads/2014/01/informatica-mantenimiento-empresas-autonomos.png"
                          class="card-img">
                          <img *ngIf="this.detalle_grado_carrera === 'ELECTRÓNICA'"
                          src="http://isedata.com.co/wp-content/uploads/2019/01/ISEDATA-INGENERIA-ELECTRONICA.png"
                          class="card-img">
                        <img *ngIf="this.detalle_grado_carrera === 'DIBUJO'"
                          src="https://cdn4.iconfinder.com/data/icons/architecture-13/64/drawing_desk-student-education-engineer-512.png"
                          class="card-img">
                        <img *ngIf="this.detalle_grado_carrera === 'MECÁNICA'"
                          src="https://st2.depositphotos.com/5266903/11380/v/950/depositphotos_113809332-stock-illustration-mechanics-service-tools-flat-rounded.jpg"
                          class="card-img">
                          <img *ngIf="this.detalle_grado_grado == 'TERCERO'"
                          src="https://image.flaticon.com/icons/png/512/354/354637.png"
                          class="card-img">
                          <img *ngIf="this.detalle_grado_grado == 'PRIMERO'"
                          src="https://image.flaticon.com/icons/png/512/354/354637.png"
                          class="card-img">
                          <img *ngIf="this.detalle_grado_grado == 'SEGUNDO'"
                          src="https://image.flaticon.com/icons/png/512/354/354637.png"
                          class="card-img">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title bg-dark p-3" style="text-align: center; color: white">
                            {{ detalle_grado_grado }}</h5>
  
                            <div class="row">
                              <div class="col-md-4">
                                <p class="card-text" ><small class="text-muted"><span class="fa fa-sun"></span>
                                    Jornada:</small></p>
                                <p class="card-text" style="color: black">{{ detalle_grado_jornada }}</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'TERCERO'" style="color: black">MATUTINA</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'PRIMERO'" style="color: black">MATUTINA</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'SEGUNDO'" style="color: black">MATUTINA</p>
                              </div>
                              <div class="col-md-4">
                                <p class="card-text"><small class="text-muted"><span class="fa fa-th"></span> Sección:</small></p>
                                <p class="card-text" style="color: black">{{ detalle_grado_seccion }}</p>
                              </div>
                              <div class="col-md-4">
                                <p class="card-text"><small class="text-muted"><span class="fa fa-network-wired"></span>
                                    Carrera:</small></p>
                                <p class="card-text" style="color: black">{{ detalle_grado_carrera }}</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'TERCERO'" style="color: black">---</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'PRIMERO'" style="color: black">---</p>
                                <p class="card-text" *ngIf="this.detalle_grado_grado === 'SEGUNDO'" style="color: black">---</p>
                              </div>
                            </div>

                            <label class="col-sm-12 bg-primary py-2" style="color:white;"></label>

                        <div class="row">
                          <div class="col-md-12">
                            <p class="card-text bg-info p-3" style="color: white"><span class="fa fa-chalkboard-teacher"></span>
                              Instructores:
                              {{ detalle_grado_instructores }}</p>
                          </div>
                        </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col s12">
    
            <div class="modal fade" id="detalleCurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Detalle de Usuario
                    </h5>
                    <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
    
                   <div class="modal-body">
    
                    <div class="card mb-3" style="max-width: 800px;">
                      <div class="row no-gutters">
                        <div class="col-md-4 my-auto">
                          <img src="http://castrillonweb.com/masajesnaya/images/diploma.png"
                            class="card-img mx-3">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title bg-dark p-3" style="text-align: center; color: white">
                              {{ detalle_curso_curso }}</h5>
    
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text"><small class="text-muted"><span class="fa fa-sun"></span>
                                    Jornada:</small></p>
                                <p class="card-text bg-secondary p-1" style="color: white">{{ detalle_curso_jornada }}
                                </p>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text bg-info p-3" style="color: white"><span class="fa fa-chalkboard-teacher"></span>
                                  Instructores:
                                  {{ detalle_curso_instructores }}</p>
                              </div>
                            </div>
    
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>