<label class="mt-5"></label>

<div class="container">
  <carousel>
    <slide>
      <img src="assets/images/mongoDB.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/angular.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/node.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/overxak.png" alt="quarter slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/express.png" alt="fifth  slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/visual.png" alt="sixth slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/kinal.png" alt="seventh slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

