<label class="mt-5"></label>
<form class="forma mt-5">

  <button type="submit" class="btn btn-outline-primary botonNuevo float-right" data-toggle="modal"
    data-target="#familia">
    <i class="fas fa-plus-circle"></i>--- Nueva Familia
  </button>

  <div class="form-group row mt-3">
    <div class="inputWithIcon inputIconBg col-sm-9 float-left mx-5">
      <input type="text" class="form-control" name="filter_familia" placeholder="Buscar familia"
        [(ngModel)]="filter_familia">
      <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>
    </div>
  </div>

  <table widht="1490px" class="table mt-5 col-sm-12">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Familia</th>
        <th scope="col">Hijos</th>
        <th scope="col">Encargado</th>
        <th scope="col">Padre</th>
        <th scope="col">Madre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-light" *ngFor="let familia of familiaService.familias | familia:filter_familia">
        <td align="center">
          <h6>{{ familia.nombre_familia }}</h6>
        </td>
        <td align="center">
          <h6>{{ familia.hijos }}</h6>
        </td>
        <td align="center">
          <h6>{{ familia.encargado }}</h6>
        </td>
        <td align="center">
          <h6>{{ familia.padre }}</h6>
        </td>
        <td align="center">
          <h6>{{ familia.madre }}</h6>
        </td>
        <td align="center">
          <a (click)="editFamilia(familia)" data-toggle="modal" data-target="#familia"><i class="fas fa-edit"></i></a> 

          <a (click)="deleteFamilia(familia._id)"><i class="fas fa-trash-alt"></i></a>

          <a (click)="getFamilia(familia)" data-toggle="modal" data-target="#detalle"><i class="fas fa-eye"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="modal fade" id="familia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ !this.familiaService.selectedFamilia._id ? 'Nueva Familia' : 'Actualizar Familia'}}</h5>
                <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-content">
                    <form #familiaForm="ngForm" class="was-validated" (ngSubmit)="addFamilia(familiaForm)"
                      autocomplete="off">
                      <h4></h4>

                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="familiaService.selectedFamilia._id">

                      <label class="col-sm-12 bg-primary p-2" style="color:white; text-align: center;">Nombre
                        Familia</label>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <div class="inputWithIcon inputIconBg col-sm-10">
                          <input type="text" readonly class="form-control" name="nombre_familia"
                            #nombre_familia="ngModel" [(ngModel)]="familiaService.selectedFamilia.nombre_familia"
                            required>
                          <i class="fas fa-users fa-2x mx-3" aria-hidden="true"></i>
                        </div>
                      </div>

                      <label class="col-sm-12 bg-primary p-2" style="color:white;">Integrantes de la Familia.</label>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-3 col-form-label">Buscar:</label>
                        <div class="inputWithIcon inputIconBg col-sm-7">
                          <input type="text" class="form-control" name="filterHijos" placeholder="Buscar hijo"
                            [(ngModel)]="filterHijos">
                          <i class="fas fa-search-plus fa-2x mx-3" aria-hidden="true"></i>

                          <div class="list-group">
                            <button *ngFor="let persona of personaService.personas | filter:filterHijos" type="button"
                              class="list-group-item list-group-item-action agregar fas fa-child"
                              (click)="pasarHijo(persona)"> --- {{ persona.primer_nombre }} {{ persona.segundo_nombre }}
                              {{ persona.primer_apellido }}
                              {{ persona.segundo_apellido }}</button>
                          </div>

                        </div>
                      </div>

                      <div class="form-group row mt-3" hidden>
                        <div class="inputWithIcon inputIconBg col-sm-12">
                          <pre class="code-preview form-control" [(ngModel)]="familiaService.selectedFamilia.hijos"
                            name="hijos" #cursos="ngModel">hijos: {{ hijosArray | json }}</pre>
                        </div>
                      </div>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-3 col-form-label">Hijos:</label>
                        <div class="inputWithIcon inputIconBg col-sm-6">
                          <input type="text" class="form-control" [(ngModel)]="hijoInput" name="hijo" readonly>
                          <i class="fas fa-child fa-2x mx-3" aria-hidden="true"></i>

                          <button type="button" class="btn mb-2" tooltip="Remover." *ngFor="let hijo of hijosArray"
                            placement="top" style="background: gray; color: white" (click)="quitarHijo(hijo)">{{hijo}}
                          </button>

                        </div>
                        <div class="col-sm-1 py-1 px-1">
                          <button type="button" class="btn btn-outline-dark" (click)="seleccionarHijo()"><i
                              class="fas fa-plus-circle" aria-hidden="true"></i></button>
                        </div>
                      </div>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-3 col-form-label py-3">Encargado:</label>
                        <div name="encargado" class="inputWithIcon inputIconBg col-sm-7">
                          <select class="custom-select mr-sm-2" id="encargado" name="encargado" #encargado="ngModel"
                            [(ngModel)]="familiaService.selectedFamilia.encargado" required>
                            <option value="" disabled></option>
                            <option *ngFor="let persona of personaService.personas">{{ persona.primer_nombre }}
                              {{ persona.segundo_nombre }} {{ persona.primer_apellido }}
                              {{ persona.segundo_apellido }} </option>

                          </select>
                          <i class="fas fa-restroom fa-2x mx-2" aria-hidden="true"></i>
                          <div class="invalid-feedback">
                            Carrera obligatorio.
                          </div>
                          <div class="valid-feedback">
                            Hecho.
                          </div>
                        </div>
                      </div>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-3 col-form-label py-3">Padre:</label>
                        <div name="padre" class="inputWithIcon inputIconBg col-sm-7">
                          <select class="custom-select mr-sm-2" id="padre" name="padre" #padre="ngModel"
                            [(ngModel)]="familiaService.selectedFamilia.padre">
                            <option value="" disabled></option>
                            <option *ngFor="let persona of personaService.personas">{{ persona.primer_nombre }}
                              {{ persona.segundo_nombre }} {{ persona.primer_apellido }}
                              {{ persona.segundo_apellido }} </option>

                          </select>
                          <i class="fas fa-user-tie  fa-2x mx-2" aria-hidden="true"></i>
                          <div class="invalid-feedback">
                            Carrera obligatorio.
                          </div>
                          <div class="valid-feedback">
                            Hecho.
                          </div>
                        </div>
                      </div>

                      <div class="form-group row mt-3">
                        <label class="col-sm-1"></label>
                        <label class="col-sm-3 col-form-label py-3">Madre:</label>
                        <div name="madre" class="inputWithIcon inputIconBg col-sm-7">
                          <select class="custom-select mr-sm-2" id="madre" name="madre" #madre="ngModel"
                            [(ngModel)]="familiaService.selectedFamilia.madre">
                            <option value="" disabled></option>
                            <option *ngFor="let persona of personaService.personas">{{ persona.primer_nombre }}
                              {{ persona.segundo_nombre }} {{ persona.primer_apellido }}
                              {{ persona.segundo_apellido }} </option>

                          </select>
                          <i class="fas fa-female  fa-2x mx-2" aria-hidden="true"></i>
                          <div class="invalid-feedback">
                            Carrera obligatorio.
                          </div>
                          <div class="valid-feedback">
                            Hecho.
                          </div>
                        </div>
                      </div>

                      <div class="form-group row center">
                        <label class="col-sm-2"></label>
                        <button type="submit" class="btn btn-dark botonGuardar col-sm-8">Guardar <i
                            class="fas fa-save"></i>
                          <p></p>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12">

        <div class="modal fade" id="detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Detalle de Familia
                </h5>
                <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="card mb-3" style="max-width: 800px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 my-auto">
                      <img src="https://image.flaticon.com/icons/png/512/1022/1022544.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title bg-dark p-3" style="text-align: center; color: white">
                          {{ nombre_familia_detalle }}</h5>

                        <div class="row">
                          <div class="col-md-12">
                            <p class="card-text" style="color: black">{{ encargado_detalle }}</p>
                          </div>
                          <div class="col-md-12">
                            <p class="card-text"><small class="text-muted"><span class="fa fa-restroom"></span>
                                Encargado:</small></p>
                            <p class="card-text" style="color: black">{{ padre_detalle }}</p>
                          </div>
                          <div class="col-md-12">
                            <p class="card-text"><small class="text-muted"><span class="fa fa-user-tie"></span>
                                Padre:</small></p>
                            <p class="card-text" style="color: black">{{ madre_detalle }}</p>
                          </div>
                          <div class="col-md-12">
                            <p class="card-text"><small class="text-muted"><span class="fa fa-female"></span>
                                Madre:</small></p>
                          </div>
                        </div>

                        <label class="col-sm-12 bg-primary py-2" style="color:white;"></label>

                        <div class="row">
                          <div class="col-md-12">
                            <p class="card-text bg-danger p-3" style="color: white"><span class="fa fa-users"></span>
                              Hijos de la familia:
                              {{ hijos_detalle }}</p>
                          </div>
                        </div>

                        <label class="col-sm-12 bg-primary py-2" style="color:white;"></label>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>