<ejs-sidebar id="default-sidebar" #sidebar [type]='type' (created)="onCreated($event)" style="visibility: hidden" [target]='target'>

    <div class="center-align">
        <button ej-button (click)="closeClick()" class="close"><span aria-hidden="true">&times;</span></button>
    </div>
    <br>

    <div class="col-sm-12">
        <form style="background-color: black" class="py-2 px-4">
          <h2 style="size: 200px; font-family: 'Orbitron', sans-serif;">Modulos:</h2>
        </form>
    </div>
    
    <div class="col-sm-12" style="font-family: 'Orbitron', sans-serif;">
        <form action="" style="background-color: white">
            <!-- <div class="row ">
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">fgdf</a>
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">sdfsdf</div>
                  </div>
                </div>
              </div> -->

            <div class="list-group" >
                <button type="button" class="list-group-item list-group-item-action" routerLink="persona">
                  Persona
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="familia">Familia</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="carrera">Carreras</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="curso">Cursos</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="red">Redes de estudio</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="instructor">Instructor</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="asignacionJornada">Asignacion jornada</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="inscripcion">Inscripción</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="usuario">Usuarios</button>
              </div>
        </form>
    </div>

</ejs-sidebar>
 
 <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top transparente " id="head">
    <button ejs-button id="toggle" type="button" #togglebtn cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
    (click)="btnClick()"></button>

  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
  </div>

  <h1 class="navbar-brand float-right px-5" style="color: white; size: 400px; background-color: black;">SISTEMA ADMINISTRATIVO</h1>
</nav>





   