<label class="mt-5"></label>
<form class="forma mt-5">

  <!-- Button trigger modal -->
  <button type="submit" class="btn btn-primary botonNuevo float-right" data-toggle="modal" data-target="#persona">
      <i class="fas fa-plus-circle"></i>--- Nueva Persona
    </button>
    
    <table class="table mt-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Correo electronico</th>
            <th scope="col">Religion</th>
            <th scope="col">Celular</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personaService.personas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{ persona.primer_nombre }}</td>
            <td>{{ persona.primer_apellido }}</td>
            <td>{{ persona.genero }}</td>
            <td>{{ persona.estado_civil }}</td>
            <td>{{ persona.correo_electronico1 }}</td>
            <td>{{ persona.religion }}</td>
            <td>{{ persona.celular }}</td>
            <td>
              <a (click)="editPersona(persona)" data-toggle="modal" data-target="#persona"><i
                  class="fas fa-edit"></i></a>

              <a (click)="deletePersona(persona._id)"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
  <div class="container">
    <div class="row">
      <div class="col s12">
        
        <!-- Modal -->
        <div class="modal fade" id="persona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true" >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ !this.personaService.selectedPersona._id ? 'Nueva Persona' : 'Actualizar Persona'}}</h5>
                <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-content">
                    <form autocomplete="off" class="was-validated" #personaForm="ngForm"
                      (ngSubmit)="addPersona(personaForm)">
                      <h4></h4>

                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="personaService.selectedPersona._id">

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="bg-primary p-2" style="color:white;">Genero y estado de persona:</label>

                        <div class="form-group row mt-3">
                            <label class="col-sm-1"></label>
                          <label class="col-sm-3 col-form-label py-3">Genero:</label>
                          <div name="genero" class="inputWithIcon inputIconBg col-sm-7">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="genero"
                              id="genero" #genero="ngModel" [(ngModel)]="personaService.selectedPersona.genero"
                              required>
                              <option>HOMBRE</option>
                              <option>MUJER</option>
                            </select>
                            <i class="fas fa-restroom fa-2x mx-2" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Genero obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Estado Civil:</label>
                          <div name="estado_civil" class="inputWithIcon inputIconBg col-sm-8">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref" name="estado_civil"
                              id="estado_civil" #estado_civil="ngModel"
                              [(ngModel)]="personaService.selectedPersona.estado_civil" required>
                              <option>SOLTERO (A)</option>
                              <option>CASADO (A)</option>
                              <option>DIVORCIADO (A)</option>
                              <option>VIUDO (A)</option>
                              <option>OTRO</option>
                            </select>
                            <i class="fas fa-question fa-2x mx-2" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Estado civil obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="bg-primary p-2" style="color:white;">Información personal:</label>

                        <div class="form-group row mt-3 ">
                          <label class="col-sm-3 col-form-label">Primer Nombre:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="primer_nombre" #primer_nombre="ngModel"
                              [(ngModel)]="personaService.selectedPersona.primer_nombre" required pattern="[A-Z0-9]+">
                            <i class="fas fa-user-circle fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Primer nombre obligatorio.
                            </div>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>

                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Segundo Nombre:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="segundo_nombre" #segundo_nombre="ngModel"
                              [(ngModel)]="personaService.selectedPersona.segundo_nombre" pattern="[A-Z0-9]+">
                            <i class="fas fa-user-circle fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Segundo nombre no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Primer apellido:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="primer_apellido" #primer_apellido="ngModel"
                              [(ngModel)]="personaService.selectedPersona.primer_apellido" required pattern="[A-Z0-9]+">
                            <i class="fas fa-user-circle fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Primer apellido obligatorio.
                            </div>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Segundo apellido:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="segundo_apellido" #segundo_apellido="ngModel"
                              [(ngModel)]="personaService.selectedPersona.segundo_apellido" pattern="[A-Z0-9]+">
                            <i class="fas fa-user-circle fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Segundo apellido no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3"
                          *ngIf="personaService.selectedPersona.genero  !== '' && personaService.selectedPersona.genero !== 'HOMBRE' && personaService.selectedPersona.estado_civil !== '' && personaService.selectedPersona.estado_civil !== 'SOLTERO (A)' && personaService.selectedPersona.estado_civil !== 'DIVORCIADO (A)' && personaService.selectedPersona.estado_civil !== 'OTRO'">
                          <label class="col-sm-3 col-form-label">Apellido conyugal:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="apellido_conyugal"
                              #apellido_conyugal="ngModel"
                              [(ngModel)]="personaService.selectedPersona.apellido_conyugal" pattern="[A-Z0-9]+">
                            <i class="fas fa-ring fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Apellido conyugal no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Fecha nacimiento:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" id="fecha_nacimiento" bsDatepicker 
                              [bsConfig]="{  dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue'}" 
                              class="form-control" name="fecha_nacimiento" #fecha_nacimiento="ngModel"
                              [(ngModel)]="personaService.selectedPersona.fecha_nacimiento" required>
                            <i class="fas fa-calendar-week fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Fecha de nacimiento obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Religion:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <select class="custom-select mr-sm-2" id="religion" name="religion" #religion="ngModel"
                              [(ngModel)]="personaService.selectedPersona.religion" required>
                              <option>CATOLICO</option>
                              <option>EVANGELICO</option>
                              <option>ATEO</option>
                              <option>MORMON</option>
                              <option>NINGUNA</option>
                            </select>
                            <i class="fas fa-church fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Religion obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Correo Electronico:</label>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="email" class="form-control" name="correo_electronico1"
                              #correo_electronico1="ngModel"
                              [(ngModel)]="personaService.selectedPersona.correo_electronico1" required>
                            <i class="fas fa-at fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Correo electronico obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                            <button type="button" class="btn btn-dark" (click)="mostrarCorreoII()">+</button>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarCorreo2">
                          <div class="col-sm-3 py-2 pl-5">
                            <button type="button" class="btn btn-dark" (click)="ocultarCorreoII()">-</button>
                          </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="email" class="form-control" name="correo_electronico2"
                              #correo_electronico2="ngModel"
                              [(ngModel)]="personaService.selectedPersona.correo_electronico2">
                            <i class="fas fa-at fa-2x mx-3" aria-hidden="true"></i>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Adicional no obligatorio.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                            <button type="button" class="btn btn-dark" (click)="mostrarCorreoIII()">+</button>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarCorreo3">
                          <div class="col-sm-3 py-2 pl-5">
                            <button type="button" class="btn btn-dark" (click)="ocultarCorreoIII()">-</button>
                          </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="email" class="form-control" name="correo_electronico3"
                              #correo_electronico3="ngModel"
                              [(ngModel)]="personaService.selectedPersona.correo_electronico3">
                            <i class="fas fa-at fa-2x mx-3" aria-hidden="true"></i>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Adicional no obligatorio.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                            <button type="button" class="btn btn-dark" (click)="mostrarCorreoIV()">+</button>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarCorreo4">
                          <div class="col-sm-3 py-2 pl-5">
                            <button type="button" class="btn btn-dark" (click)="ocultarCorreoIV()">-</button>
                          </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="email" class="form-control" name="correo_electronico4"
                              #correo_electronico3="ngModel"
                              [(ngModel)]="personaService.selectedPersona.correo_electronico4">
                            <i class="fas fa-at fa-2x mx-3" aria-hidden="true"></i>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Adicional no obligatorio.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                            <button type="button" class="btn btn-dark" (click)="mostrarCorreoV()">+</button>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarCorreo5">
                          <div class="col-sm-3 py-2 pl-5">
                            <button type="button" class="btn btn-dark" (click)="ocultarCorreoV()">-</button>
                          </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="email" class="form-control" name="correo_electronico5"
                              #correo_electronico5="ngModel"
                              [(ngModel)]="personaService.selectedPersona.correo_electronico5">
                            <i class="fas fa-at fa-2x mx-3" aria-hidden="true"></i>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Adicional no obligatorio.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="bg-primary p-2" style="color:white;">Ubicación de residencia:</label>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Departamento:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <select class="custom-select mr-sm-2" id="departamento" name="departamento"
                              #departamento="ngModel" [(ngModel)]="personaService.selectedPersona.departamento"
                              required>
                              <option *ngFor="let departamento of departamentos">{{departamento}}</option>
                            </select>
                            <i class="fas fa-globe-americas fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Departamento obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Municipio:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <select class="custom-select mr-sm-2" id="municipio" name="municipio"
                              #municipio="ngModel" [(ngModel)]="personaService.selectedPersona.municipio" required>
                              <option *ngFor="let municipio of municipios">{{municipio}}</option>
                            </select>
                            <i class="fas fa-globe-americas fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Municipio obligatorio.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>



                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Zona:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="zona" #zona="ngModel"
                              [(ngModel)]="personaService.selectedPersona.zona" required pattern="[0-9]+">
                            <i class="fas fa-globe-americas fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Zona obligatorio.
                            </div>
                            <div class="invalid-feedback">
                              Solo numeros.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Avenida:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="avenida" #avenida="ngModel"
                              [(ngModel)]="personaService.selectedPersona.avenida" pattern="[A-Z 0-9]+">
                            <i class="fas fa-road fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Avenida no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Calle:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="calle" #calle="ngModel"
                              [(ngModel)]="personaService.selectedPersona.calle" pattern="[A-Z 0-9]+">
                            <i class="fas fa-road fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Calle no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Numero casa:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="noCasa" #noCasa="ngModel"
                              [(ngModel)]="personaService.selectedPersona.noCasa" required pattern="[0-9]+">
                            <i class="fas fa-home fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Numero de casa obligatorio.
                            </div>
                            <div class="invalid-feedback">
                              Solo el numero final sin "00-".
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 py-3">
                          <div class="container">
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-dark" type="button" (click)="mostrar1()">Más</button>
                            <label class="col-sm-1"></label>
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-dark" type="button" (click)="ocultar1()">Menos</button>
                            <label class="col-sm-1"></label>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Colonia:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="colonia" #colonia="ngModel"
                              [(ngModel)]="personaService.selectedPersona.colonia" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Colonia no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Boulevard:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="boulevard" #boulevard="ngModel"
                              [(ngModel)]="personaService.selectedPersona.boulevard" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Boulevard no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Lote:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="lote" #lote="ngModel"
                              [(ngModel)]="personaService.selectedPersona.lote" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Lote no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Residenciales:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="residenciales" #residenciales="ngModel"
                              [(ngModel)]="personaService.selectedPersona.residenciales" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Residenciales no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Diagonal:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="diagonal" #diagonal="ngModel"
                              [(ngModel)]="personaService.selectedPersona.diagonal" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Diagonal no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Calzada:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="calzada" #calzada="ngModel"
                              [(ngModel)]="personaService.selectedPersona.calzada" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Calzada no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas1">
                          <label class="col-sm-3 col-form-label">Ruta:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="ruta" #ruta="ngModel"
                              [(ngModel)]="personaService.selectedPersona.ruta" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Ruta no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 py-3" *ngIf="mostrarMas1">
                          <div class="container">
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-primary" type="button" (click)="mostrar2()">Más</button>
                            <label class="col-sm-1"></label>
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-primary" type="button" (click)="ocultar2()">Menos</button>
                            <label class="col-sm-1"></label>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas2">
                          <label class="col-sm-3 col-form-label">Manzana:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="manzana" #manzana="ngModel"
                              [(ngModel)]="personaService.selectedPersona.manzana" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Manzana no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas2">
                          <label class="col-sm-3 col-form-label">Cuadra:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="cuadra" #cuadra="ngModel"
                              [(ngModel)]="personaService.selectedPersona.cuadra" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Cuadra no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas2">
                          <label class="col-sm-3 col-form-label">Sector:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="sector" #sector="ngModel"
                              [(ngModel)]="personaService.selectedPersona.sector" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Sector no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas2">
                          <label class="col-sm-3 col-form-label">Edificio:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="edificio" #edificio="ngModel"
                              [(ngModel)]="personaService.selectedPersona.edificio" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Edificio no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas2">
                          <label class="col-sm-3 col-form-label">Nivel:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="nivel" #nivel="ngModel"
                              [(ngModel)]="personaService.selectedPersona.nivel" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Nivel no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 py-3" *ngIf="mostrarMas2">
                          <div class="container">
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-info" type="button" (click)="mostrar3()">Más</button>
                            <label class="col-sm-1"></label>
                            <label class="col-sm-1"></label>
                            <button class="col-sm-4 btn btn-info" type="button" (click)="ocultar3()">Menos</button>
                            <label class="col-sm-1"></label>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas3">
                          <label class="col-sm-3 col-form-label">Apartamento:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="apartamento" #apartamento="ngModel"
                              [(ngModel)]="personaService.selectedPersona.apartamento" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Apartamento no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas3">
                          <label class="col-sm-3 col-form-label">Kilometro:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="kilometro" #kilometro="ngModel"
                              [(ngModel)]="personaService.selectedPersona.kilometro" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Kilometro no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas3">
                          <label class="col-sm-3 col-form-label">Carretera:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="carretera" #carretera="ngModel"
                              [(ngModel)]="personaService.selectedPersona.carretera" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Carretera no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas3">
                          <label class="col-sm-3 col-form-label">Aldea:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="aldea" #aldea="ngModel"
                              [(ngModel)]="personaService.selectedPersona.aldea" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Aldea no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarMas3">
                          <label class="col-sm-3 col-form-label">Especificación:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="otra_direccion" #otra_direccion="ngModel"
                              [(ngModel)]="personaService.selectedPersona.otra_direccion" pattern="[A-Z 0-9]+">
                            <i class="fas fa-map-marker-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Todo en mayusculas.
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                            <div class="valid-feedback">
                              Especificación no obligatorio.
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="card">
                        <label class="col-sm-1"></label>
                        <label class="bg-primary p-2" style="color:white;">Contacto:</label>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Celular:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="celular" #celular="ngModel"
                              [(ngModel)]="personaService.selectedPersona.celular" required
                              pattern="^[2|3|4|5|6|7]\d{7}$">
                            <i class="fas fa-mobile-alt fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback">
                              Numero de celular obligatorio.
                            </div>
                            <div class="invalid-feedback" for="tel">
                              Numero de celular (8 dígitos comenzando por 2, 3, 4, 5, 6 o 7)
                            </div>
                            <div class="valid-feedback">
                              Hecho.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Telefono:</label>
                          <div class="inputWithIcon inputIconBg col-sm-8">
                            <input type="text" class="form-control" name="casa" #casa="ngModel"
                              [(ngModel)]="personaService.selectedPersona.casa" pattern="^[2|3|4|5|6|7]\d{7}$">
                            <i class="fas fa-phone fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback" for="tel">
                              Numero de telefono (8 dígitos comenzando por 2, 3, 4, 5, 6 o 7)
                            </div>
                            <div class="valid-feedback">
                              Numero de telefono no obligatorio.
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mt-3">
                          <label class="col-sm-3 col-form-label">Otro:</label>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="text" class="form-control" name="otro1" #otro1="ngModel"
                              [(ngModel)]="personaService.selectedPersona.otro1" pattern="^[2|3|4|5|6|7]\d{7}$">
                            <i class="fas fa-phone fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback" for="tel">
                              Otro numero (8 dígitos comenzando por 2, 3, 4, 5, 6 o 7)
                            </div>
                            <div class="valid-feedback">
                              Otro numero no obligatorio.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                              <button type="button" class="btn btn-dark" (click)="mostrarOtroI()">+</button>
                            </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarOtro1">
                            <div class="col-sm-3 py-2 pl-5">
                                <button type="button" class="btn btn-dark" (click)="ocultarOtroI()">-</button>
                              </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="text" class="form-control" name="otro2" #otro2="ngModel"
                              [(ngModel)]="personaService.selectedPersona.otro2" pattern="^[2|3|4|5|6|7]\d{7}$">
                            <i class="fas fa-phone fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback" for="tel">
                              Otro numero (8 dígitos comenzando por 2, 3, 4, 5, 6 o 7)
                            </div>
                            <div class="valid-feedback">
                              Otro numero no obligatorio.
                            </div>
                          </div>
                          <div class="col-sm-1 py-2 px-1">
                              <button type="button" class="btn btn-dark" (click)="mostrarOtroII()">+</button>
                            </div>
                        </div>

                        <div class="form-group row mt-3" *ngIf="mostrarOtro2">
                            <div class="col-sm-3 py-2 pl-5">
                                <button type="button" class="btn btn-dark" (click)="ocultarOtroII()">-</button>
                              </div>
                          <div class="inputWithIcon inputIconBg col-sm-7">
                            <input type="text" class="form-control" name="otro3" #otro3="ngModel"
                              [(ngModel)]="personaService.selectedPersona.otro3" pattern="^[2|3|4|5|6|7]\d{7}$">
                            <i class="fas fa-phone fa-2x mx-3" aria-hidden="true"></i>
                            <div class="invalid-feedback" for="tel">
                              Otro numero (8 dígitos comenzando por 2, 3, 4, 5, 6 o 7)
                            </div>
                            <div class="valid-feedback">
                              Otro numero no obligatorio.
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="form-group row center mt-3 mx-5">
                          <div class="mx-5">
                            <div class="mx-5">
                              <div class="mx-5">
                                <button type="submit" class="btn btn-dark botonGuardar  mx-5"><i class="fas fa-save"></i>--- Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>